/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #ffffff;
}

h1 {
    font-family: 'League Script', cursive;
    color: #ffffff;
    padding-left: 40px;
}

h2 {
    font-weight: 400;
}

/* Header */
header {
    background-color: #D66C51;
    width: 100%;
    display: flex;
    padding: 20px 0 0px;
    font-size: large;
}

/* Navigation */
nav {
    background-color: #D66C51;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    padding: 0 10px 5px;
    list-style: none;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav #active {
    text-decoration: underline;
}

/* Main */
main {
    background-color: #F4B09D;
}

/* Welcome Section */
.welcome img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.welcome > div {
    padding: 40px 0;
}

.welcome-box {
    padding-bottom: 40px;
}
.welcome-img-box {
    display: flex;
    width: 100%;
    gap: 40px;
}

/* Footer */
footer {
    background-color: #D66C51;
    height: 70px;
    display: flex;
    align-items: center;
}

footer > ul {
    display: flex;
    width: 100%;
    justify-content: center;
}

footer li {
    padding: 0 50px;
}

i {
    color: #ffffff;
}