/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #ffffff;
    background-color: #F4B09D;
}

h1 {
    font-family: 'League Script', cursive;
    color: #ffffff;
    padding-left: 40px;
}

h2, h3 {
    font-weight: 400;
}

a {
    color: #ffffff;
}

a:hover {
    color: #666666;
}

li {
    list-style: none;
}

#grey-link {
    color: #666666;
}

#grey-link:hover {
    color: #D66C51;
}

/* Header */
header {
    background-color: #D66C51;
    width: 100%;
    display: flex;
    padding: 20px 0 0;
    font-size: large;
    position: fixed;
    top: 0;
}

header a {
    text-decoration: none;
}

/* Navigation */
nav {
    background-color: #D66C51;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 60px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    padding: 0 10px 5px;
}

nav a {
    text-decoration: none;
}

nav #active {
    text-decoration: underline;
}

/* Main */
main {
    margin-top: 86.5px;
}

/* Welcome Section */
.welcome img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
}

.welcome > div {
    padding: 40px 0;
}

.welcome-box {
    padding-bottom: 40px;
}
.welcome-img-box {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

/* About */
.about {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFE6D8;
    width: 100vw;
    color: #666666;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.about img {
    background-color: #D66C51;
    height: 28em;
}

.about > div {
    width: 30em;
    height: 28em;
}

.about ul {
    text-align: right;
}

/* Recipes */
.recipe-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: auto;
    padding: 30px;
    gap: 20px;
}

.recipe-info {
    background-color: #FFE6D8;
    width: 28vw;
    border-radius: 2em;
    color: #666666;
    padding: 15px;
    min-width: 260px;
}

.recipe-method {
    width: 55vw;
    min-width: 260px;
}

.recipe-card img {
    background-color: #D66C51;
    width: 55vw;
    height: auto;
    min-width: 260px;
}

.recipe-method li {
    padding-bottom: 1em;
}

/* Sign Up */
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE6D8;
    height: 90vh;
    padding-bottom: 50px;
}

.sign-up-container{
    display: grid;
    color: #666666;
    text-align: center;
    max-width: 400px;
    gap: 10px;
    justify-items: center;
}

.sign-up-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    justify-self: center;
}

input[type=submit] {
    background-color: #D66C51;
    color: #ffffff;
    border-style: solid;
    border-color: #F4B09D;
    width: 7em;
    padding: 5px;
    border-radius: 8px;
}

input[type=submit]:hover {
    background-color: #F4B09D;
}

/* Footer */
footer {
    background-color: #D66C51;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > ul {
    display: flex;
    width: 100%;
    justify-content: center;
}

footer li {
    padding: 0 50px;
}

i {
    color: #ffffff;
}